<div class="container">
    <div class="row">
        <div class="col-md-10">
            <nav class="navbar navbar-expand-md">
                <a href="#" class="navbar-brand"><i class="fa fa-linkedin-square fa-lg"></i></a>
                <button
                 class="navbar-toggler" 
                 data-toggle="collapse" 
                 data-target="navbarcollapse">
                <span class="navabar-toggler-icon"></span>
                </button>
                <ul *ngIf="navItem">
                    
                </ul>

            </nav> 
        </div>
    </div>
</div>
